@charset "utf-8";


/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }


  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
   vertical-align: baseline;
   position: relative;
   font-size: 55%;
   line-height: 0;
 }

 sup { top: -.7em; }

 sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}


/* ======= Your Styling Goes Below ======= */
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.header {
  width: 52%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.ham { display:none; }

nav ul { display: flex; }

header {
  padding:11px;
  background:black;
}

h1 { display: inline-block; }

h1 a {
  display:inline-block;
  text-indent: -9999px;
}

h1 img {
  float:right;
  text-indent:0;
}

nav ul a {
  margin-left: 23px;
  color:white;
  font-family: sans-serif;
  font-size: 11px;
  opacity: 0.8;
  text-transform: capitalize;
}

.active { color:#28655e; }

.banner-img { position: relative; }

.cf {
  position: absolute;
  top:39%;
  right:0;
  left:0;
  text-align: center;
}

.banner-content p {
  margin-top: 6px;
  margin-bottom: 27px;
  color: white;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 7px;
  opacity: 0.8;
  text-transform: uppercase;
}

.banner-content a {
  padding: 12px 36px;
  background: #3eccb5;
  color: white;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  color: white;
  font-size: 93px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-us {
  padding: 12.3% 33%;
  background: url(https://via.placeholder.com/1349x576/FF0000) no-repeat;
  background-size: cover;
  text-align: center;
}

.about-us article { background: white; }

 article h3 {
  padding-top: 16.5%;
  padding-bottom: 4%;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

article p {
  padding: 11px 56px;
  font-family: sans-serif;
  font-size: 11px;
  line-height:15px;
  opacity: 0.5;
  text-align: left;
}

article p:last-of-type {  padding-bottom: 16%; }

.spaces ul {
  display: flex;
  flex-wrap: wrap;
}

.spaces h3 {
  padding-top: 4%;
  padding-bottom: 15px;
  color: white;
  font-family: serif;
  font-size: 39px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.spaces p {
  margin-bottom: 52px;
  color: white;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
} 
  
.spaces {
  background:#3eccb5;
}